Repository Leo-Henrique/get-demo-front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

chore: create next app router setup with tailwind
  components.json
  package.json
  postcss.config.js
  src/app/globals.css
  src/app/icon.png
  src/app/layout.tsx
  src/components/ui/sonner.tsx
  tailwind.config.ts
Due: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

feat: create fake dashboard
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/page.tsx
  src/components/nav-link.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/navigation-routes.ts
Due: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

chore(api): mapping back-end routes
  src/@types/next.d.ts
  src/api/entities.ts
  src/api/helpers/fetch-wrapper.ts
  src/api/helpers/mutation-route.ts
  src/api/helpers/search-params-to-string.ts
  src/api/index.ts
  src/api/repositories/demo.repository.ts
  src/api/repositories/frame.repository.ts
Due: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

feat: create demo listing
  src/app/(dashboard)/demos/page.tsx
  src/components/data-table.tsx
  src/components/ui/table.tsx
  src/lib/utils.ts
Due: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

feat(demo): create viewing and editing frame for demo
  src/app/(dashboard)/demos/[slug]/frame-content.tsx
  src/app/(dashboard)/demos/[slug]/page.tsx
Due: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

feat(frame): create frame pagiation
  src/app/(dashboard)/demos/[slug]/frame-content-actions.tsx
  src/app/(dashboard)/demos/[slug]/frame-content-pagination.tsx
  src/components/ui/pagination.tsx
  src/components/ui/select.tsx
  src/components/ui/tooltip.tsx
Due: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

fix: update dependencies
  package.json
  pnpm-lock.yaml
  src/components/breadcrumb-navigation.tsx
Due: prettier --write --cache, zsh -c 'tsc --noEmit', eslint --max-warnings 0 --fix --cache

docs: update readme
  README.md
Due: prettier --write --cache

fix(deps): sync dependencies
  pnpm-lock.yaml
Due: prettier --write --cache

chore: update env example
  .env.local
Due: none

Path conditions:
  prettier --write --cache: any of: *.{js,jsx,ts,tsx,css,scss,json,yaml,yml,md}
  zsh -c 'tsc --noEmit': any of: *.{js,jsx,ts,tsx}
  eslint --max-warnings 0 --fix --cache: any of: *.{js,jsx,ts,tsx}
